{{- $dir := "static/rss" -}}
{{- $files := slice -}}
{{- range readDir $dir -}}
  {{- if and (not .IsDir) (strings.HasSuffix (lower .Name) ".xml") -}}
    {{- $files = $files | append . -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $files) 0 -}}
<ul class="rss-feed-list">
  {{- range sort $files "Name" -}}
    {{- $href := printf "/rss/%s" .Name -}}
    {{- $stem := strings.TrimSuffix ".xml" .Name -}}
    {{- $label := humanize (replace $stem "_" " ") -}}
    <li><a href="{{ $href | relURL }}">{{ $label }}</a></li>
  {{- end -}}
</ul>
{{- else -}}
<p><em>No <code>*.xml</code> files in <code>static/rss</code> yet.</em></p>
{{- end -}}
